<h3>Most Played Champions</h3>
<br>
    <div class="row">
    {{#each masteries.top3}}
        <div class="top3champions col-4">
            <div class="champion-mastery">
                <img class="mastery-image" src="http://ddragon.leagueoflegends.com/cdn/8.24.1/img/champion/{{championName}}.png" alt="">
                <div class="mastery-image-layers">
                    <img class="mastery-level" src="/images/mastery-frame-{{championLevel}}.png" alt="">
                    <img class="chest-found" src="/images/border-chest.png" alt="">
                </div>
            </div>
                    <br><br>
            <p>{{championPoints}}</p>
        </div>
    {{/each}} 
    </div>
{{!-- All masteries button --}}
    <form method="POST" action="/masteries">
        <div>
            <input type="hidden" name="id" id="id" value="{{this.id}}">
            <input type="hidden" name="name" id="name" value="{{this.name}}">
            <input type="hidden" name="summonerLevel" id="summonerLevel" value="{{this.summonerLevel}}">
            <input type="hidden" name="profileIconId" id="profileIconId" value="{{this.profileIconId}}">
            <input type="hidden" name="revisionDate" id="revisionDate" value="{{this.revisionDate}}">
            <input type="submit" value="Get Masteries">
            <p>{{errMsg}}</p>
        </div>
    </form>